*{
    text-align:center;
    text-decoration:none;
}
body{
    background-image:linear-gradient( #f9ce34,#ee2a7b ,#6228d7);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
form{
    border:2px solid;
    width:300px;
    margin-left: 38%;
    height:400px;
}
a{
    border:2px solid;
    padding:10px;
    background-color: blue;
    color:white;
    border-radius:20px;
}