*{
    text-align:center;
    text-decoration:none;
}
body{
    background-image:linear-gradient( #f9ce34,#ee2a7b ,#6228d7);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.cls1{
    border:2px solid;
    height: 300px;
    width:200px;
    margin-left:450px;
    padding:100px;
}
a{
    border:2px solid;
    padding:10px;
    background-color: blue;
    color:white;
    border-radius:20px;
}
